.herophoto-section {
    display: flex;
    justify-content: left;
    align-items: center;
    
    width: 100%;
    height: 50rem;
    
    padding-bottom: 1rem;
    
    background-image: url("../img/kuvataidebanner.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    padding-left: 20px;

    color: white;

    h3 {
        font-size: 40vh;
        color: white;
    }

    p {
        font-size: 30vh;
        color: white;
    }

    button {
        font-size: 30vh;
        color: white;
    }
}