/*Herophoto section*/
.hero-section {
    background-image: url(/assets/img/herophoto-whole-gradiant.png);
    background-size: cover;
    background-origin: content-box;
    padding-top: 5rem;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    
}

.hero-text {
    padding-left: 20px;
    padding-top: 150px;
    padding-bottom: 150px;
    color: white;

    button {
        color: white;
        background-color: transparent;
        border-color: white;

        width: 350px;

        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;

        border-style: solid;
        border-width: 1px;
        text-align: center;

        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;

        font-style: italic;
    }

    h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal; 
    }
}

/*Courses section*/
.courses {
    color: white;
    padding: 20px;
    button {
        color: white;
        background-color: transparent;
        border-color: white;

        width: 350px;

        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;

        border-style: solid;
        border-width: 1px;
        text-align: center;

        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;

        font-style: italic;
    }

    h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal; 
    }
}

.course-1 {
    background-image: url(/assets/img/Aipe-kuva.png);
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
}

.course-2 {
    background-image: url(/assets/img/Nivelvaihe-kuva.png);
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
}

.course-3 {
    background-image: url(/assets/img/koto-kuva.png);
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
}

.course-4 {
    background-image: url(/assets/img/kaso-kuva.png);
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
}

.course-5 {
    background-image: url(/assets/img/kuvataide-kuva.png);
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
}

/*Social media feed*/
.social-media {
    padding: 20px;

    h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: rgb(0, 171, 43);
    } 
}

.FAQ-item {
    text-align: center;
    padding: 20px;
    list-style: none;

    h4 {
        color: rgb(0, 171, 43);
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}
  